@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！


////////////////////
// フォント設定
////////////////////

$base-font-family: "";
$second-font-family: "";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
/* font-weight */
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
// 透過度
$opacity: 0.6;
$opacity1: 0.5;
$opacity2: 0.2;
$hover-opacity: 0.8;

// 汎用色
$black0: #000;
$black1: #111;
$black1-05: rgba( 7, 7, 7, 0.5);
$black3: #333;
$white: #fff;


// アクセントカラー
$accent-color: #f9f871;
$accent-color2: #ffea2e;
$accent-color3: #FFBA6A;

// 警告色
$warning-color1: #FF5757;
$warning-color2: #FFDCDC;

// スライドのページネーションの色
$dot-color-defalt: #C4C4C4;

// 見出し装飾
$gray: #C4C4C4;



////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);


//メディアクエリー
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

@mixin lineHeightCrop($line-height:1.5) {
  &::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - #{$line-height}) * .5em);
    content: "";
  }
  &::after {
    display: block;
    width: 0;
    height: 0;
    margin-bottom: calc((1 - #{$line-height}) * .5em);
    content: "";
  }
 }

////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-desktop {
  display: none;
  @include mq("md") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("md") {
    display: none;
  }
}

//layer-no
// 0 body
// 1 header,section,footer
// 2 ex) .header__header-inner
// 3 ex) .btn

// .btn
$layer3-btn: -1;

// .background-line
$layer1-background-line: -1;

// body
$layer0-body: 0;

// header
$layer1-header: 2;
$layer2-header: 2;

// header-nav
$layer2-nav: 1;

// main-view
$layer1-mainveiw-base: -1;
$layer1-mainveiw-fadeout: 1;
$layer1-mainveiw-fadein: 2;
$layer1-mainveiw-title: 3;

// blog
$layer3-stamp: 1;

// レイアウト幅
$inner: 1100px; // font-sizeなどで使っている変数なので、名前は変更しない
$inner-860: 860px;
$inner-800: 800px;
$inner-696: 696px;
$inner-sp: 600px;

// 余白
$padding-pc: 25px;
// $padding-pc: rem(25);
$padding-sp: 20px;

body {
  // background-color: $white;
  position: relative;
  z-index: $layer0-body;
  background-color: $black1;
  color: $white;
  font-size: rem(16);
  text-align: center;

}
