@use "global" as *;

.data-list {
  text-align: left;
  font-size: rem(13);
  line-height: calc( 24 / 13 );
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: ( 1em / 16 );
    line-height: calc( 24 / 13 );
  }
}

.data-list__row {
  padding-top: rem(18);
  padding-bottom: rem(18);
  border-bottom: 1px solid $white;
}

.data-list__title {
  display: inline-block;
  width: 100% * ( 60 / 335 );
  vertical-align: top;
  @include mq("md") {
    width: 100% * ( 80 / 1100 );
  }
}

.data-list__description {
  display: inline-block;
  width: 100% * ( 221 / 335 );
  margin-left: 100% * ( 50 / 335 );
  @include mq("md") {
    width: 100% * ( 940 / 1100 );
    margin-left: 100% * ( 70 / 1100 );;
  }
}