@use "global" as *;

.gallery {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.gallery-slider {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: rem(32);
    text-rendering: auto;    // bodyに設定している"text-rendering: optimizeSpeed;"のせいで、.swiper-button-prevと.swiper-button-nextが表示されないので、リセット
    @include mq(md) {
        margin-bottom: rem(40);
    }
}

.gallery-thumbs {
    margin-bottom: rem(32);
    @include mq(md) {
        margin-bottom: rem(80);
    }
}

.swiper-slide {
    position: relative;
    width: 100%;
}

.swiper-slide::before {
    content:"";
    display: block;
}

.gallery-slider .swiper-slide::before {
    padding-top: 100% * ( 251 / 375 );
    @include mq("md") {
        padding-top: 100% * ( 560 / 801 );
    }
}

.gallery-thumbs .swiper-slide::before {
    padding-top: 100%;
}    

.swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-thumbs .swiper-slide {
    width: rem(163);
    margin-left: rem(12);
    margin-right: rem(12);
    opacity: .1;
    @include mq(md) {
        width: rem(93);
        margin-left: rem(8);
        margin-right: rem(8);
    }
}


.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    height: rem(30);
    width: rem(30);
    background-color: $black1;
    border-radius: 50%;
    color: $accent-color2;
    font-size: rem(14);
    // text-align: center;
    @include mq(md) {
        height: rem(50);
        width: rem(50);
        font-size: rem(27);

    }
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: rem(14);
    line-height: rem(30);
    text-align: center;
    @include mq(md) {
        height: rem(50);
        width: rem(50);
        font-size: rem(27);
        line-height: rem(50);

    }
}